{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="section pt-0">
  <div class="container">
    <div class="row">
      {{ range .Site.Data.bookCategories }}
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card border-0 text-center">
          <a href="{{ .url }}">
            <img src="{{ .image | absURL }}" alt="{{ .name }}" width="180">
          </a>
          <a href="{{ .url }}" class="h4">{{ .name }}</a>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>

{{ end }}
